{% extends "tabby/base.html" %}
{% block title %}
Profile
{% endblock title %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "css/profile.css" %}">
{% endblock css %}
{% block content %}
<div class="container-fluid">
  <div name="infomation" class ="row">
    <div class="col-md-1">
    </div>
    <div class = "col-sm-200 col-md-3" style="margin-top:50px">
      <div class="thumbnail profile">
        <div class="circle">
            <img src="/static/{{ head_image }}">
        </div>
        <div class="edit-img">
          <form enctype="multipart/form-data" action="/profile/{{ user_name }}/" method="post">
          {% csrf_token %}
            <div class="form-group">
              <input type="file" name="head_image">
            </div>
            <textarea class="form-control hidden" name="description" rows="3" placeholder="write your description"></textarea>
            <div class="form-group">
              <button class="btn btn-default" type="submit">Submit</button>
            </div>
          </form>
        </div>
        <h3 style="text-align: center;">{{ user_name }}</h3><br/>
        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="100%" color=#987cb9 SIZE=10>          
        <p class="description">
          {{ user_description }}
        </p>
        <div class="edit-description" data-description="{{ user_description|safe }}">
          <form enctype="multipart/form-data" action="/profile/{{ user_name }}/" method="post">
          {% csrf_token %}
            <div class="form-group">
              <textarea class="form-control" name="description" rows="3" placeholder="write your description"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-default" type="submit">Submit</button>
            </div>
          </form>
        </div>
        {% if user_name == login_username %}
        <div id="edit-des" style="text-align: right;"><a class="btn btn-default" href="javascript: void(0)">Edit</a></div>
        {% endif %}
      </div>
    </div>
    <div name="answer" class=" col-md-7 panel panel-default" style="margin-top:50px; padding: 0px;">
      <div class="panel-heading">
        <ul id="nav" class="nav nav-pills nav-justified">
          <li role="presentation" class="active"><a style="padding-top:4px; padding-bottom: 4px;" href="javascript: void(0)"><h5>Overview</h5></a></li>
          <li role="presentation"><a style="padding-top:4px; padding-bottom: 4px;" href="javascript: void(0)"><h5>Questions({{qlist_len}})</h5></a></li>
          <li role="presentation"><a style="padding-top:4px; padding-bottom: 4px;" href="javascript: void(0)"><h5>Answers({{alist_len}})</h5></a></li>
          <li role="presentation"><a style="padding-top:4px; padding-bottom: 4px;" href="javascript: void(0)"><h5>Votes({{vlist_len}})</h5></a></li>
        </ul>
      </div>
      <div class="overview">
	  	  <div id="liveness-spline" style="margin-top: 10px"></div>
		    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="100%" color=#987cb9 SIZE=10>
		    <div id="distribution-pie"></div>
	    </div>
      <div style="display: none; padding-top:10px;" class="questions">
      {% for question in question_list %}
        <section style="padding-left: 15px;" class="question">
          <h4><a href="/question/{{question.question_id}}">{{question.question_title | safe}}</a></h4>
          <p>{{question.top_answer | safe}}</p>
          <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="100%" color=#987cb9 SIZE=10>
        </section>
      {% endfor %} 
      </div>
      <div style="display: none; padding-top:10px;" class="answers">
      {% for answer in answer_list %}
        <section style="padding-left: 15px;" class="question">
          <h4><a href="/question/{{answer.question_id}}#{{ answer.reply_id }}">{{answer.question_title | safe}}</a></h4>
          <p>{{answer.reply_content | safe}}</p>
          <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="100%" color=#987cb9 SIZE=10>
        </section>
      {% endfor %}
      </div>
      <div style="display: none; padding-top:10px;" class="votes">
      {% for vote in vote_list %}
        <section style="padding-left: 15px;" class="question">
          <h4><a href="/question/{{vote.question_id}}#{{ vote.reply_id }}">{{vote.question_title | safe}}</a></h4>
          <p>{{vote.reply_content | safe}}</p>
          <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="100%" color=#987cb9 SIZE=10>
        </section>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
  var description = $('.edit-description').data('description')
  $('.edit-img textarea').val($('.description').text())
  $('.edit-img').hide()
  $('.edit-description').hide()
  $('.profile a').on('click', function(e) {
    $('.edit-description').show()
    $('.edit-description textarea').text(description)
    $('.description').hide()
    $('#edit-des').hide()
    $(document).one('click', function() {
      $('.edit-description').hide()
      $('.description').show()
      $('#edit-des').show()
    })
    e.stopPropagation()
  })
  $('.edit-description').on('click', function(e) {
    e.stopPropagation()
  })
  $('#nav a').on('click', function() {
    var index = $('#nav a').index($(this))
    $('#nav li').removeClass('active')
    $('#nav li').eq(index).addClass('active')
    var div_type = ['.overview', '.questions', '.answers', '.votes']
    for(let i = 0; i < 4; ++i) {
      $(div_type[i]).hide()
    }
    $(div_type[index]).show()
  })
  
  {% if user_name == login_username %}
  $('.edit-img input').on('change', function() {
    $('.edit-img .btn').click()
  })
  $('.circle').on('click', function(e) {
    select()
  })

  function select() {
    return $('.edit-img input').click()
  }
  {% endif %}
</script>
{% load static %}
<script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/data.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/drilldown.js"></script>
<script src="http://img.hcharts.cn/highcharts/themes/grid-light.js"></script>
<script>
	$('#nav a').on('click', function() {
	  var index = $('#nav a').index($(this))
	  $('#nav li').removeClass('active')
	  $('#nav li').eq(index).addClass('active')
	  var div_type = ['.overview', '.questions', '.answers', '.votes']
	  for(let i = 0; i < 4; ++i) {
		$(div_type[i]).hide()
	  }
	  $(div_type[index]).show()
	});

	$('#distribution-pie').highcharts({
		chart: {
			type: 'pie'
		},
		title: {
			text: 'Distribution'
		},
		plotOptions: {
			series: {
				dataLabels: {
					enabled: true,
					format: '{point.name}: {point.y:.1f}%'
				}
			}
		},
		tooltip: {
			headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
			pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
		},
		series: [{
			name: 'Fields',
			colorByPoint: true,
			data: {{base_data | safe}}
		}],
		drilldown: {
			series: {{slevel_data | safe}}
		}
	});
	$('#liveness-spline').highcharts({
		chart: {
			type: 'spline'
		},
		title: {
			text: 'Daily Liveness'
		},
		xAxis: {
			categories: {{hour_24 | safe}} 
		},
		yAxis: {
			title: {
				text: 'Liveness'
			},
			labels: {
				formatter: function () {
					return this.value;
				}
			}
		},
		tooltip: {
			crosshairs: true,
			shared: true
		},
		plotOptions: {
			spline: {
				marker: {
					radius: 4,
					lineColor: '#666666',
					lineWidth: 1
				}
			}
		},
		series: [{
			name: 'Liveness',
			data: {{ active_day | safe}}	  
		}]
	});
</script>
{% endblock scripts %}
