{% extends "tabby/base.html" %}
{% block title %}
Result
{% endblock title %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "css/search.css" %}">
{% endblock css %}
{% block content %}
<div class="container">
    <ul class="nav nav-tabs" id="nav">
        <li class="active"><a href="#">All</a></li>
        <li><a href="#">Questions</a></li>
        <li><a href="#">Tags</a></li>
        <li><a href="#">Users</a></li>
    </ul>
    <div>
		{% for entry in hit_info %}
			{% if entry.type == 'question' %}
				<section class="question">
            		<h4><a href="/question/{{entry.question_id}}">{{entry.question_title | safe}}</a></h4>
            		<p>{{entry.question_content | safe}}</p>
            		<p>{{entry.total_vote}}&nbsp;vote&nbsp;&nbsp;&nbsp;&nbsp;{{entry.total_answer}}&nbsp;answer</p>
        		</section>
			{% endif %}
			{% if entry.type == 'tag' %}
			 	<section class="tag">
            		<span class="tag-label"><a href="/tag/{{entry.tag_name}}">{{entry.tag_name}}</a></span>
					<p> {{entry.tag_description }} </p>
        		</section>
			{% endif %}
			{% if entry.type == 'user' %}
			 	<section class="user">
            		<img src="/static/{{entry.user_head_image}}">
            		<div>
                		<a href="/profile/{{entry.un}}">{{entry.user_name | safe}}</a>
						<p> {{entry.user_description | safe}} </p>
            		</div>
        		</section>
			{% endif %}
		{% endfor %}
	</div>          
</div>
{% endblock content %}
{% block scripts %}
<script>
    $('#nav a').on('click', function() {
        var index = $('#nav a').index($(this))
        $('#nav li').removeClass('active')
        $('#nav li').eq(index).addClass('active')
        var section_type = ['.question', '.tag', '.user']
        if(index == 0) {
            for(let i = 0; i < section_type.length; ++i) {
                $(section_type[i]).show()
            }
        }
        else {
            for(let i = 0; i < section_type.length; ++i) {
                $(section_type[i]).hide()
            }
            $(section_type[index - 1]).show()
        }
    })
</script>
{% endblock scripts %}
