{% extends "tabby/base.html" %}
{% block title %}
{{ tag_name }}
{% endblock title %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "css/question.css" %}">
<link rel="stylesheet" href="{% static "css/tag.css" %}">
{% endblock css %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h3>{{ tag_name }}</h3>
        <p>{{ tag_description }}</p>
    </div>
    <div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="nav" data-order={{ order }}>
        <li class="nav-item active">
            <a class="nav-link" href="/tag/{{ tag_name }}/?order=0">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tag/{{ tag_name }}/?order=1">Most Answered</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tag/{{ tag_name }}/?order=2">Most Voted</a>
        </li>
        </ul>
    </div>
    {% include "tabby/question_list.html" %}
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
  $('#nav li').removeClass('active')
  $('#nav li').eq($('#nav').data('order')).addClass('active')
</script>
{% endblock scripts %}