.q-author {
    display: inline-block;
    color: #999;
}

.card-header {
    border-bottom: 2px #bbb solid;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.ans-info {
    color: #999;
}

.ans-info a {
    color: #999;
}

.ans-author {
    height: 50px;
    margin-bottom: 10px;
}

.ans-head-image {
	float: left;
	height: 45px;
    width: 45px;
    margin-right: 5px;
    border-radius: 50%;
    overflow: hidden;
}

.ans-head-image img {
    height: 45px;
    margin: 0 auto;
}

.ans-author-name {
    height: 45px;
    line-height: 45px;
    float: left;
}

.ans-author a {
    color: #017E66;
}

.card {
	margin-bottom: 5%;
}

#submit_btn {
	margin-top: 1%;
}