.tag {
    margin-left: 3px;
    display: inline-block;
    padding: 0 6px;
    color: #017E66;
    background-color: rgba(1,126,102,0.08);
    height: 22px;
    line-height: 22px;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
}

.tag:hover {
    background-color: #017E66;
    color: white;
}

.tag-input {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    display: block;
    color: #555;
    border-radius: 4px;
    max-width: 100%;
    cursor: text;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px 5px 0 5px;
}

.tag-text-area {
    border: none !important;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0 0 5px 0 !important;
    width: 20rem;
    max-width: 100%;
}

.default-tag {
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.18);
    position: absolute;
    background-color: white;
    width: 320px;
    padding: 15px;
    z-index: 2;
    margin-bottom: 0;
}

.default-taglist {
    padding: 0px;
}

.default-taglist li {
    margin-bottom: 5px;
}

li a:link {
    text-decoration: none;
    color: inherit;
}

li a:visited {
    text-decoration: none;
    color: inherit;
}

li a:hover {
    text-decoration: none;
    color: inherit;
}

li a:active {
    text-decoration: none;
    color: inherit;
}

.cke_1.cke_chrome {
    border-color: rgb(212, 212, 212) !important;
}

.cke_1 .cke_top {
    background-color: rgb(212, 212, 212) !important;
    border-bottom-color: rgb(212, 212, 212) !important;
}

.cke_1 .cke_bottom {
    background-color: rgb(212, 212, 212) !important;
    border-top-color: rgb(212, 212, 212) !important;
}